mat-card-content {
    padding-left: 0;
    padding-right: 0;
}

.add-user-button {
    position: absolute;
    bottom: 56px;
    right: 56px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        /*don't set the cursor to pointer at first table row and don't set the background color*/
        &:first-child {
            cursor: unset;
            &:hover {
                background-color: unset;
            }
        }
        /*other table row show cursor to pointer*/
        cursor: pointer;

        /*don't show the bottom-border of the last table row*/
        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }

        td {
            height: 48px;

            &:first-child {
                padding-left: 16px;
            }
        }

        th {
            &:first-child {
                padding-left: 16px;
            }
        }
    
    }

    

    
    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 700;
        text-align: start;
    }
}